.lato {
  font-family: 'Lato', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.user-icon {
  font-size: 30px !important;
  line-height: 100% !important;
  /*color: #996515;*/
  color: black;
}

.user-icon:hover {
  cursor: pointer;
}

.user-icon-xs-vp {
  font-size: 30px !important;
  color: black !important;
}

.user-icon-xs-vp:hover {
  cursor: pointer;
  /*color: black;*/
  transition: all .5s ease-in-out;
  transform: scale(1.2);
}

/*a {
  color:inherit;
}*/

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

#user-icon-dropdown-menu>li {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.poll-div {
  background-color:white;
  margin-bottom:5%;
  padding: 20px;
  border-radius: 15px;
}

.progress-bar-info {
  width: 100% !important;
}
