.lato {
  font-family: 'Lato', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.light-blue {
  color: #00aeda;
}

.grey {
  color: #7f7f7f;
}

.light-grey {
  color: #e5e5e5;
}

.user-icon {
  font-size: 30px !important;
  line-height: 100% !important;
  /*color: #996515;*/
  color: black;
}

.user-icon:hover {
  cursor: pointer;
}

.user-icon-xs-vp {
  font-size: 30px !important;
  color: black !important;
}

.user-icon-xs-vp:hover {
  cursor: pointer;
  /*color: black;*/
  transition: all .5s ease-in-out;
  transform: scale(1.2);
}

/*a {
  color:inherit;
}*/

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

#user-icon-dropdown-menu>li {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.poll-div {
  background-color:white;
  margin-bottom:5%;
  padding: 20px;
  border-radius: 15px;
}

/*.progress-bar-info {
  width: 100% !important;
}*/

.thumbnail {
  padding: 0 !important;
  /*height: 380px;*/
}

.other-option-button {
  letter-spacing: 2px;
  border:1px solid #7f7f7f;
  padding:10px;
  border-radius:5px;
  text-align:center;
  margin-top: 4vh;
}

.other-option-button:hover {
  border: 1px solid black;
  color: black;
}


.new-poll-button {
  width: 100%;
  border: none;
  background-color: #00aeda;
  color: white;
  padding: 10px;
  letter-spacing: 3px;
  border: none;
  border-radius: 2px;
}

.new-poll-button:hover {
  background-color: #00aeda !important;
  color: white !important;
  transition: all .5s ease-in-out;
  transform: scale(1.1);
}

.new-poll-button:focus,
.new-poll-button:active,
.new-poll-button.active,
.new-poll-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background-color: #00aeda;
  border-radius: 2px;
}

.vote-option-button {
  width: 100%;
  background-color: #00aeda;
  color: white;
  padding: 10px;
  letter-spacing: 5px;
  border: none;
  border-radius: 2px;
}

.vote-option-button:hover {
  background-color: #0086a5;
  color: white;
  /*transition: all .5s ease-in-out;
  transform: scale(1.1);*/
}

.vote-option-button:focus,
.vote-option-button:active,
.vote-option-button.active,
.vote-option-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*.vote-option-button:hover {
  border: 1px solid black !important;
  color: black !important;
}*/

.add-option-div-one {
  height:46vh;
  text-align: center;
  font-size: 20vh;
  line-height: 68vh;
  color: #00aeda;
}

.add-option-div-two {
  height:46vh;
  text-align: center;
  font-size: 20px;
  /*line-height: 20px;*/
  color: #00aeda;
}

.result-div {
  margin-bottom: 3%;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0px;
  width: 95%;
  margin: 0 auto;
}

.nav-tabs {
  border-top: 1px solid #ddd;
  text-align:center;
  margin-bottom:2%;
  background-color:white;
  padding:3vh;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a,
.nav-tabs>li>a:hover {
  background-color: transparent;
  border: none;
}

.nav-tabs>li.active>a:focus {
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #00aeda
}

.nav-tabs>li.active {
  border-bottom: 1px solid #00aeda;
  /*color: #00aeda;*/
}

.nav-tabs>li.active>a {
  color: #00aeda;
}


/*.nav-tabs>li.active>a:link,
.nav-tabs>li.active>a:visited,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:active, {
  background-color: transparent;
}*/

.footer {
  background-color:white;
}

#footer-md {
  background-color:white;
  height: 70px;
  line-height: 70px;
}

#footer-md>div>a {
  margin-right: 10px;
}

#footer-sm {
  background-color:white;
  height: 113px;
  line-height: 75px;
  text-align: center;
}

#footer-sm>div>a {
  margin-right: 10px;
}

#footer-xs {
  background-color:white;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.footer-md-icon {
  text-align:right;
  font-size:20px;
}

.footer-sm-icon {
  text-align:center;
  font-size:20px;
  margin-top: -35px;
}

.footer-xs-icon {
  text-align:center;
  font-size:20px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: transparent;
}

.fa-bars:hover {
  cursor: pointer;
}

.dropdown-menu>li>a {
  letter-spacing: 2px;
}

.special {
  width: 100%;
  color: transparent;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.special:hover {
  background-color: transparent;
  color:transparent:
  border: none;
  color: transparent;
  cursor: default;
}

.special:focus,
.special:active,
.special.active,
.special:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#add-option-thumbnail:hover {
  cursor: pointer;
  transition: all .5s ease-in-out;
  transform: scale(1.025);
}

.comment:hover {
  color: #00aeda
}

.community-select {
  height: 40px;
  background-color: white;
  border-color: #e5e5e5;
  width: 100%;
}


/* to remove blue glow shadow */
.community-select:focus,
.community-select:active,
.community-select.active,
.community-select:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.create-poll-input {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 15px;
}

/* to remove blue glow shadow */
.remove-glow:focus,
.remove-glow:active,
.remove-glow.active,
.remove-glow:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.create-poll-input-margin {
  margin-bottom: 25px;
}

.back-button {
  letter-spacing: 2px;
  border: 1px solid #7f7f7f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.back-button:hover {
  cursor: pointer;
  transition: all .5s ease-in-out;
  transform: scale(1.1);
}

.padding-zero {
  padding: 0;
}

.create-poll-button {
  /*width: 100%;*/
  border: none;
  background-color: #00aeda;
  color: white;
  padding: 10px;
  letter-spacing: 3px;
  border: none;
  border-radius: 2px;
}

.create-poll-button:hover {
  background-color: #00aeda !important;
  color: white !important;
  transition: all .5s ease-in-out;
  transform: scale(1.1);
}
